In [2]:
import pandas as pd

rankings_df = pd.read_csv("rankings_clean(1).csv")
competitors_df = pd.read_csv("competitors_clean(1).csv")

print("Loaded files successfully")

Loaded files successfully

In [3]:
rankings_df = rankings_df.drop_duplicates()
competitors_df = competitors_df.drop_duplicates()

print("Duplicates removed")

Duplicates removed

In [4]:
print(rankings_df.isnull().sum())
print(competitors_df.isnull().sum())

rank                   0
movement               0
points                 0
competitions_played    0
competitor_id          0
gender                 0
tour                   0
year                   0
week                   0
dtype: int64
competitor_id     0
name              0
country           0
country_code     57
abbreviation      0
gender            0
tour              0
dtype: int64

In [5]:
rankings_df = rankings_df.fillna({
    "movement": 0,
    "competitions_played": 0
})

competitors_df = competitors_df.fillna("Unknown")

print("Null values handled")

Null values handled

In [6]:
rankings_df["rank"] = rankings_df["rank"].astype(int)
rankings_df["points"] = rankings_df["points"].astype(int)
rankings_df["movement"] = rankings_df["movement"].astype(int)
rankings_df["competitions_played"] = rankings_df["competitions_played"].astype(int)

print("Data types assigned")

Data types assigned

In [7]:
rankings_df = rankings_df.rename(columns={
    "competitor_id": "player_id"
})

competitors_df = competitors_df.rename(columns={
    "competitor_id": "player_id"
})

print("Columns renamed")

Columns renamed

In [8]:
rankings_df["rank_category"] = rankings_df["rank"].apply(
    lambda x: "Top 10" if x <= 10 else "Top 100" if x <= 100 else "Other"
)

In [9]:
assert (rankings_df["points"] >= 0).all()
assert (rankings_df["rank"] > 0).all()

In [10]:
print(rankings_df[["rank", "points", "competitions_played"]].describe())

              rank       points  competitions_played
count  1000.000000   1000.00000          1000.000000
mean    250.500000    535.31600            23.199000
std     144.409501    971.99869             5.732212
min       1.000000     85.00000             3.000000
25%     125.750000    146.75000            20.000000
50%     250.500000    254.00000            24.000000
75%     375.250000    550.25000            27.000000
max     500.000000  13550.00000            39.000000

In [11]:
rankings_df.to_csv("rankings_final.csv", index=False)
competitors_df.to_csv("competitors_final.csv", index=False)

print("Final cleaned files saved")

Final cleaned files saved